.jumbotron{
    background-image: url('../../assets/images/2.jpg');
    background-size: cover;
    height: 87.746vh;
    margin-bottom: 0px;
}

.panel-body {
    padding: 15px;
    background-color: black;
    color: white;
    opacity: 0.75;
    height: 54rem;
}

.panel-default {
    border-color: #ddd;
    height: 400px;
    opacity: 1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: black !important;
    color: white !important;
    z-index: 10;
}

.panel-group {
    width: 50%;
    position: relative;
    left: 26%;
    top: 16%;
    height: 60rem;
}

.panel-group .panel {
    margin-bottom: 0;
    border: 5px solid black;
    height: 100%;
    border-radius: 1.5rem;
    opacity: 0.8;
}

.inline-block-image {
    width: 50%;
}

.inline-block-image {
    width: 50%;
}
    